{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{% block title %}ElectroShop{% endblock %}</title>
  </head>
  <body>
    <section class="main__container">
      <header class="menu">
        <div class="menu__icon">
          <h1>ElectroShop</h1>
          <img src="{%static 'img/Computer.svg' %}" alt="computer" />
        </div>
        <a href="/" class="menu__elements">Home</a>
        <a href="signup" class="menu__elements">Iniciar Sesión</a>
        <a href="products" class="menu__elements">Productos</a>
        <a href="" class="menu__elements">Contáctanos</a>
      </header>
    </section>
    {%block content%} {%endblock%}
  </body>
</html>
